.section_1001 {

  .tork-card {
    border-radius: 1.875rem;
    background: linear-gradient(
      234.06deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.6) 100%
    );
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.568);
  }

  .tork-card-header {
    padding: 0.8rem 1.625rem;
    align-items: center;
  }

  .tork-card-body {
    padding: 50px 1.625rem;

    button {
      margin-top: 2rem;
    }
  }
  h2 {
    font-size: 1.1rem;
    line-height: 2.7;
    font-weight: 600;
    color: $primary-color;
  }
  h3 {
    font-size: 1.2rem;
    padding: 0.9rem 0;
    font-weight: 400;
    color: $white-color;
  }

  .action_btn {
    padding: 0.6rem 4rem;
  }
}
